@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,700&family=Open+Sans:wght@300&family=Zen+Dots&display=swap");
body {
  font-family: "Open Sans";
}

nav > header {
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  padding-bottom: 15px;
}

header {
  font-weight: bold;
  font-size: 25px;
}

.nav-link {
  text-decoration: none;
  color: #4d4e53;
  padding-left: 20px;
}

code {
  font-family: monospace;
  background-color: #f7f7f7;
  padding: 3%;
}

#navbar {
  min-width: 300px;
}

body {
  display: flex;
}

@media (max-width: 600px) {
}

#main-doc {
  padding: 50px;
}

nav > section {
  padding-bottom: 15px;
  padding-top: 15px;
  border: 1px solid black;
  text-align: center;
}

section {
  padding: 2%;
}
